# Python
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
# VSCode
.vscode/

*.pdf
*.xlsx
*.png

# Arquivos temporários e de saída

temp_paginas/
*.log

# Arquivos do sistema
Thumbs.db
.DS_Store

# Arquivos de
poppler-windows/